<ul class="d-flex justify-content-center list-unstyled column-gap-3 py-3">
    <li><a href="/">Homepage</a></li>
    <li><a href="/add_movie">Přidat film</a></li>
    <li><a href="/movie_db">Seznam filmů</a></li>
    {% if user.is_authenticated %}
      <a href="{% url 'profile' %}">Profile</a>
      <form action="{% url 'logout' %}" method="POST">
        {% csrf_token %}
        <button type="submit">Odhlásit</button>
      </form>
    {% else %}
      <a href="{% url 'login' %}">Přihlásit</a>
      <a href="{% url 'register' %}">Register</a>
    {% endif %}
</ul>